
data/.DS_Store

project/src/.DS_Store

project/src/main/.DS_Store

project/src/main/java/.DS_Store

project/src/main/webapp/.DS_Store

project/src/main/webapp/resources/.DS_Store

project/src/main/webapp/resources/data/.DS_Store

project/src/main/webapp/resources/data/sf/.DS_Store

project/src/main/webapp/resources/scripts/.DS_Store

project/.DS_Store

project/postgres.py

schema/create-sf-arrivals-table.sql

udc2013/

data/sf/sf-route-1-schedule-real.csv

.DS_Store

project/src/main/webapp/WEB-INF/classes/launch/Main.class

project/src/main/webapp/WEB-INF/classes/servlet/HelloServlet.class

project/src/main/webapp/WEB-INF/lib/ecj-3.7.2.jar

project/src/main/webapp/WEB-INF/lib/tomcat-api-7.0.34.jar

*.jar

*.war

*.class

project/target
project/src/main/webapp/stop-lat-long.java
project/.project
project/.settings

project/.classpath

project/src/main/java/urban/data/challenge/Test.java

project/src/main/java/urban/data/challenge/CSVtoGEO.java

project/src/main/webapp/WEB-INF/classes/urban/data/challenge/db/sf-stop-times.csv

project/src/main/webapp/WEB-INF/classes/urban/data/challenge/db/stops.csv

project/src/main/webapp/hello.jsp

project/src/main/webapp/resources/data/geneva/routes/back-routes.json

project/src/main/webapp/resources/data/sf/routes/shape-to-routes.json

project/src/main/webapp/resources/data/sf/shapes-new.csv

project/src/main/webapp/resources/data/sf/trips/trips-excerpt.csv

project/target/maven-archiver/pom.properties

project/target/classes/launch/Main.class

python/pandas/
